{% extends 'base.html.twig' %}

{% block title %}Bienvenue : Worksite
{% endblock %}

{% block body %}

<div class="jumbotron mt-4">
  <h1 class="display-4">Bienvenue sur Worksite</h1>
  <h3 class="text-danger">Une application de pointage</h3>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, maiores totam adipisci saepe non facilis minima earum quod, dignissimos quisquam optio! Autem delectus at alias ad voluptas amet totam nam.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Découvrir</a>
  </p>
</div>
{% endblock %}
